<!DOCTYPE html>
<html>
  <head>
    <title>MiniApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="#66bb6a green lighten-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <% if user_signed_in? %>
      <li><%=link_to "投稿",new_tweet_path,method: :get %></li>
      <li><%=link_to "ログアウト",destroy_user_session_path%></li>
    <% else %>
      <li><%=link_to "ログイン",new_user_session_path%></li>
      <li><%=link_to "新規登録",new_user_registration_path%></li>
    <% end %>
    </ul>
  </div>
</nav>


    <%= yield %>
  </body>
</html>
